<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">

  <!--====== Title ======-->
  <title>GPT-5</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--====== Favicon Icon ======-->
  <link rel="shortcut icon" href="assets/img/landing-page/logo1.png" type="image/png">
</head>

<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!--====== PRELOADER PART START ======-->

<div class="preloader">
  <div class="loader">
    <div class="ytp-spinner">
      <div class="ytp-spinner-container">
        <div class="ytp-spinner-rotator">
          <div class="ytp-spinner-left">
            <div class="ytp-spinner-circle"></div>
          </div>
          <div class="ytp-spinner-right">
            <div class="ytp-spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--====== PRELOADER PART ENDS ======-->

<!--====== NAVBAR TWO PART START ======-->

<section class="navbar-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">

          <a class="navbar-brand" href="#">
            <img src="assets/img/landing-page/logo1.png" alt="Logo">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo" aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active"><a class="page-scroll" href="#home">home</a></li>
              <li class="nav-item"><a class="page-scroll" href="#services">Services</a></li>
              <li class="nav-item"><a class="page-scroll" href="#about">About</a></li>
              <li class="nav-item"><a class="page-scroll" href="#team">Team</a></li>
              <li class="nav-item"><a class="page-scroll" href="#contact">Contact</a></li>
            </ul>
          </div>

          <div class="navbar-btn d-none d-sm-inline-block">
            <ul>
              <li><a class="solid" href="#">Login</a></li>
            </ul>
          </div>
        </nav> <!-- navbar -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== NAVBAR TWO PART ENDS ======-->

<!--====== SLIDER PART START ======-->

<section id="home" class="slider_area">
  <div id="carouselThree" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselThree" data-slide-to="0" class="active"></li>
      <li data-target="#carouselThree" data-slide-to="1"></li>
      <li data-target="#carouselThree" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="slider-content">
                <h1 class="title">Solution for Your Dirty Clothes</h1>
                <p class="text">GPT-5 is the best laundry around you.</p>
              </div>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
        <div class="slider-image-box d-none d-lg-flex align-items-end">
          <div class="slider-image">
            <img src="assets/img/landing-page/slider/3.avif" alt="Hero">
          </div> <!-- slider-imgae -->
        </div> <!-- slider-imgae box -->
      </div> <!-- carousel-item -->

      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="slider-content">
                <h1 class="title">Crafted for Business Laundry</h1>
                <p class="text">GPT-5 opened a laundry business.</p>
              </div> <!-- slider-content -->
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
        <div class="slider-image-box d-none d-lg-flex align-items-end">
          <div class="slider-image">
            <img src="assets/img/landing-page/slider/2.avif" alt="Hero">
          </div> <!-- slider-imgae -->
        </div> <!-- slider-imgae box -->
      </div> <!-- carousel-item -->

      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="slider-content">
                <h1 class="title">Cleaning clothes deodorizer</h1>
                <p class="text">GPT-5 is reliable in cleaning and deodorizing laundry.</p>
              </div> <!-- slider-content -->
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
        <div class="slider-image-box d-none d-lg-flex align-items-end">
          <div class="slider-image">
            <img src="assets/img/landing-page/slider/1.avif" alt="Hero">
          </div> <!-- slider-imgae -->
        </div> <!-- slider-imgae box -->
      </div> <!-- carousel-item -->
    </div>

    <a class="carousel-control-prev" href="#carouselThree" role="button" data-slide="prev">
      <i class="lni lni-arrow-left"></i>
    </a>
    <a class="carousel-control-next" href="#carouselThree" role="button" data-slide="next">
      <i class="lni lni-arrow-right"></i>
    </a>
  </div>
</section>

<!--====== SLIDER PART ENDS ======-->

<!--====== FEATRES TWO PART START ======-->
<section id="services" class="features-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-title text-center pb-10">
          <h3 class="title">Our Laundry Services</h3>
          <p class="text">We offer a range of laundry services to meet your needs.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6">
        <div class="single-features mt-40">
          <!--                        <div class="features-title-icon d-flex justify-content-between">-->
          <!--                            <h4 class="features-title"><a href="#">Dirty</a></h4>-->
          <!--                        </div>-->
          <div class="features-image">
            <img src="assets/img/landing-page/service/dirty.png" alt="Dirty Clothes Service">
          </div>
          <div class="features-content">
            <p class="text">We collect your dirty clothes and prepare them for cleaning.</p>
            <!--                            <a class="features-btn" href="#">Learn More</a>-->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-features mt-40">
          <!--                        <div class="features-title-icon d-flex justify-content-between">-->
          <!--                            <h4 class="features-title"><a href="#">Washing</a></h4>-->
          <!--                        </div>-->
          <div class="features-image">
            <img src="assets/img/landing-page/service/washing.png" alt="Washing Clothes Service">
          </div>
          <div class="features-content">
            <p class="text">We provide professional washing services for all your laundry needs.</p>
            <!--                            <a class="features-btn" href="#">Learn More</a>-->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-features mt-40">
          <!--                        <div class="features-title-icon d-flex justify-content-between">-->
          <!--                            <h4 class="features-title"><a href="#">Drying</a></h4>-->
          <!--                        </div>-->
          <div class="features-image">
            <img src="assets/img/landing-page/service/drying.png" alt="Drying Clothes Service">
          </div>
          <div class="features-content">
            <p class="text">We provide professional drying services to ensure your clothes are ready to wear.</p>
            <!--                            <a class="features-btn" href="#">Learn More</a>-->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-features mt-40">
          <!--                        <div class="features-title-icon d-flex justify-content-between">-->
          <!--                            <h4 class="features-title"><a href="#">Folding</a></h4>-->
          <!--                        </div>-->
          <div class="features-image">
            <img src="assets/img/landing-page/service/folding.png" alt="Folding Clothes Service">
          </div>
          <div class="features-content">
            <p class="text">We fold and prepare your clothes for easy storage or use.</p>
            <!--                            <a class="features-btn" href="#">Learn More</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====== FEATRES TWO PART ENDS ======-->

<!--====== ABOUT PART START ======-->
<section id="about" class="about-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-title text-center pb-10">
          <h3 class="title">About Us</h3>
          <p class="text">We are a dedicated team of laundry professionals committed to providing the best laundry services.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about-image mt-40">
          <img src="assets/img/landing-page/about1.avif" alt="About Us Image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content mt-40">
          <h4 class="title">Who We Are</h4>
          <p class="text">We are a team of experienced professionals in the laundry industry. Our mission is to make laundry easy and convenient for our customers. Whether it's washing, drying, ironing, or folding, we have you covered.</p>
        </div>
        <div class="about-content mt-40">
          <h4 class="title">Our Commitment</h4>
          <p class="text">We are committed to delivering high-quality laundry services with a focus on customer satisfaction. We use the latest technology and methods to ensure your clothes are treated with care and precision.</p>
        </div>
        <div class="about-content mt-40">
          <h4 class="title">Why Choose Us</h4>
          <ul class="list-style">
            <li><i class="lni lni-check-mark-circle"></i> Professional and experienced team</li>
            <li><i class="lni lni-check-mark-circle"></i> State-of-the-art equipment</li>
            <li><i class="lni lni-check-mark-circle"></i> Convenient pickup and delivery</li>
            <li><i class="lni lni-check-mark-circle"></i> Competitive pricing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--====== ABOUT PART ENDS ======-->

<!--====== TEAM START ======-->

<section id="team" class="team-area pt-120 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-title text-center pb-30">
          <h3 class="title">Team GPT-5</h3>
          <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
            <img src="assets/img/landing-page/team1.jpg" alt="Team">
          </div>
          <div class="team-content">
            <div class="team-social">
              <ul class="social">
                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <!--                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>-->
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                <li><a href="#"><i class="lni lni-instagram"></i></a></li>
              </ul>
            </div>
            <h4 class="team-name"><a href="#">Akbar Muhammad</a></h4>
            <span class="sub-title">Full Stack Developer</span>
          </div>
        </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
            <img src="assets/img/landing-page/team2.jpg" alt="Team">
          </div>
          <div class="team-content">
            <div class="team-social">
              <ul class="social">
                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <!--                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>-->
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                <li><a href="#"><i class="lni lni-instagram"></i></a></li>
              </ul>
            </div>
            <h4 class="team-name"><a href="#">Daniel Sipangkar</a></h4>
            <span class="sub-title">Full Stack Developer</span>
          </div>
        </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
            <img src="assets/img/landing-page/team3.png" alt="Team">
          </div>
          <div class="team-content">
            <div class="team-social">
              <ul class="social">
                <li><a href="https://www.facebook.com/fajar.kurniawan.79/"><i class="lni lni-facebook-filled"></i></a></li>
                <!--                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>-->
                <li><a href="https://www.linkedin.com/in/fajar-kurniawan-2874b51b6/"><i class="lni lni-linkedin-original"></i></a></li>
                <li><a href="https://www.instagram.com/fajar.kurwn/"><i class="lni lni-instagram"></i></a></li>
              </ul>
            </div>
            <h4 class="team-name"><a href="#">Fajar Kurniawan</a></h4>
            <span class="sub-title">Full Stack Developer</span>
          </div>
        </div> <!-- single team -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== TEAM  ENDS ======-->

<!--====== CONTACT PART START ======-->
<section id="contact" class="store-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="store-info">
          <h3>Our Store</h3>
          <p>Visit our store to experience our laundry services in person. We're here to serve you!</p>
          <ul>
            <li>
              <i class="lni lni-map-marker"></i>
              <span>Jakarta Selatan</span>
            </li>
            <li>
              <i class="lni lni-phone"></i>
              <span>+62 823 456 7890</span>
            </li>
            <li>
              <i class="lni lni-calendar"></i>
              <span>Mon - Fri: 9:00 AM - 6:00 PM</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="store-image">
          <img src="assets/img/landing-page/store.avif" alt="Store Image">
        </div>
      </div>
    </div>
  </div>
</section>

<!--====== CONTACT PART ENDS ======-->

<!--====== FOOTER PART START ======-->

<section class="footer-area footer-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="footer-logo text-center">
          <a class="mt-30" href="index.html"><img src="assets/img/landing-page/logo1.png" alt="Logo"></a>
        </div> <!-- footer logo -->
        <ul class="social text-center mt-60">
          <li><a href="https://facebook.com/uideckHQ"><i class="lni lni-facebook-filled"></i></a></li>
          <li><a href="https://twitter.com/uideckHQ"><i class="lni lni-twitter-original"></i></a></li>
          <li><a href="https://instagram.com/uideckHQ"><i class="lni lni-instagram-original"></i></a></li>
          <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
        </ul> <!-- social -->
        <div class="footer-support text-center">
          <span class="number">+628123456789</span>
          <span class="mail">gpt5@gmail.com</span>
        </div>
        <div class="copyright text-center mt-35">
          <p class="text">&copy; 2023 GPT-5 Laundry Business. All Rights Reserved.</p>
        </div> <!--  copyright -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TOP TOP PART START ======-->

<a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

<!--====== BACK TOP TOP PART ENDS ======-->

<!--====== PART START ======-->

<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">

                </div>
            </div>
        </div>
    </section>
-->

<!--====== PART ENDS ======-->
</body>

</html>
