
<!--====== TEAM START ======-->

<section id="team" class="team-area pt-120 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-title text-center pb-30">
          <h3 class="title">Team GPT-5</h3>
          <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
            <img src="assets/img/landing-page/team1.jpg" alt="Team">
          </div>
          <div class="team-content">
            <div class="team-social">
              <ul class="social">
                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <!--                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>-->
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                <li><a href="#"><i class="lni lni-instagram"></i></a></li>
              </ul>
            </div>
            <h4 class="team-name"><a href="#">Akbar Muhammad</a></h4>
            <span class="sub-title">Full Stack Developer</span>
          </div>
        </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
            <img src="../../assets/img/landing-page/team2.jpeg" alt="Team">
          </div>
          <div class="team-content">
            <div class="team-social">
              <ul class="social">
                <li><a href="https://www.linkedin.com/in/daniel-sipangkar/"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="https://www.linkedin.com/in/daniel-sipangkar/"><i class="lni lni-linkedin-original"></i></a></li>
                <li><a href="https://www.instagram.com/daniel_sipangkar/"><i class="lni lni-instagram"></i></a></li>
              </ul>
            </div>
            <h4 class="team-name"><a href="#">Daniel Sipangkar</a></h4>
            <span class="sub-title">Full Stack Developer</span>
          </div>
        </div> <!-- single team -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
          <div class="team-image">
            <img src="../../assets/img/landing-page/team3.png" alt="Team">
          </div>
          <div class="team-content">
            <div class="team-social">
              <ul class="social">
                <li><a href="https://www.facebook.com/fajar.kurniawan.79/"><i class="lni lni-facebook-filled"></i></a></li>
                <!--                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>-->
                <li><a href="https://www.linkedin.com/in/fajar-kurniawan-2874b51b6/"><i class="lni lni-linkedin-original"></i></a></li>
                <li><a href="https://www.instagram.com/fajar.kurwn/"><i class="lni lni-instagram"></i></a></li>
              </ul>
            </div>
            <h4 class="team-name"><a href="#">Fajar Kurniawan</a></h4>
            <span class="sub-title">Full Stack Developer</span>
          </div>
        </div> <!-- single team -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
