<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt=""/>
      <span class="d-none d-lg-block">Laundry GPT-5</span>
    </a>
  </div>
  <!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown pe-3">
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0"
          href="#"
          data-bs-toggle="dropdown"
        >

          <button class="btn btn-danger" (click)="logOutHandler()">
            <i class="bi bi-box-arrow-right"></i>
            Sign Out
          </button>
        </a>
        <!-- End Profile Iamge Icon -->

      </li>
      <!-- End Profile Nav -->
    </ul>
  </nav>
  <!-- End Icons Navigation -->
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-heading">Dashboard</li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="sidebar[0].url" role="button">
        <i class="bx bx-grid-alt"></i>
        {{ sidebar[0].name }}
      </a>
    </li><!-- End Dashboard Nav -->


    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="sidebar[1].url" role="button">
        <i class="ri-hand-coin-line"></i>
        {{ sidebar[1].name }}
      </a>
    </li><!-- End Customer Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="sidebar[2].url" role="button">
        <i class="bx bx-category-alt"></i>
        {{ sidebar[2].name }}
      </a>
    </li><!-- End Category Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="sidebar[3].url" role="button">
        <i class="bi bi-box-seam"></i>
        {{ sidebar[3].name }}
      </a>
    </li><!-- End Product Page Nav -->

    <li class="nav-heading">Transaction</li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="sidebar[4].url" role="button">
        <i class="bi bi-file-earmark-medical"></i>
        {{ sidebar[4].name }}
      </a>
    </li><!-- End Staff Page Nav -->

    <li class="nav-item" *ngIf="role =='ROLE_ADMIN'">
      <a class="nav-link collapsed" [routerLink]="sidebar[5].url" role="button">
        <i class="bi bi-people"></i>
        {{ sidebar[5].name }}
      </a>
    </li><!-- End Report Page Nav -->

  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main min-vh-100">
  <router-outlet></router-outlet>
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Laundry GPT-5</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Designed by <a>1st Squad GPT-5</a>
  </div>
</footer>
<!-- End Footer -->
