
<!--====== CONTACT PART START ======-->
<section id="contact" class="store-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="store-info">
          <h3>Our Store</h3>
          <p>Visit our store to experience our laundry services in person. We're here to serve you!</p>
          <ul>
            <li>
              <i class="lni lni-map-marker"></i>
              <span>Jakarta Selatan</span>
            </li>
            <li>
              <i class="lni lni-phone"></i>
              <span>+62 823 456 7890</span>
            </li>
            <li>
              <i class="lni lni-calendar"></i>
              <span>Mon - Fri: 9:00 AM - 6:00 PM</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="store-image">
          <img src="../../assets/img/landing-page/store.avif" alt="Store Image">
        </div>
      </div>
    </div>
  </div>
</section>
