
<!--====== FEATRES TWO PART START ======-->
<section id="services" class="features-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-title text-center pb-10">
          <h3 class="title">Our Laundry Services</h3>
          <p class="text">We offer a range of laundry services to meet your needs.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6">
        <div class="single-features mt-40">
          <div class="features-image">
            <img src="../../assets/img/landing-page/service/dirty.png" alt="Dirty Clothes Service">
          </div>
          <div class="features-content">
            <p class="text">We collect your dirty clothes and prepare them for cleaning.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-features mt-40">
          <div class="features-image">
            <img src="../../assets/img/landing-page/service/washing.png" alt="Washing Clothes Service">
          </div>
          <div class="features-content">
            <p class="text">We provide professional washing services for all your laundry needs.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-features mt-40">
          <div class="features-image">
            <img src="../../assets/img/landing-page/service/drying.png" alt="Drying Clothes Service">
          </div>
          <div class="features-content">
            <p class="text">We provide professional drying services to ensure your clothes are ready to wear.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-features mt-40">
          <div class="features-image">
            <img src="../../assets/img/landing-page/service/folding.png" alt="Folding Clothes Service">
          </div>
          <div class="features-content">
            <p class="text">We fold and prepare your clothes for easy storage or use.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
