
<!--====== ABOUT PART START ======-->
<section id="about" class="about-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-title text-center pb-10">
          <h3 class="title">About Us</h3>
          <p class="text">We are a dedicated team of laundry professionals committed to providing the best laundry services.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about-image mt-40">
          <img src="../../assets/img/landing-page/about1.avif" alt="About Us Image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content mt-40">
          <h4 class="title">Who We Are</h4>
          <p class="text">We are a team of experienced professionals in the laundry industry. Our mission is to make laundry easy and convenient for our customers. Whether it's washing, drying, ironing, or folding, we have you covered.</p>
        </div>
        <div class="about-content mt-40">
          <h4 class="title">Our Commitment</h4>
          <p class="text">We are committed to delivering high-quality laundry services with a focus on customer satisfaction. We use the latest technology and methods to ensure your clothes are treated with care and precision.</p>
        </div>
        <div class="about-content mt-40">
          <h4 class="title">Why Choose Us</h4>
          <ul class="list-style">
            <li><i class="lni lni-check-mark-circle"></i> Professional and experienced team</li>
            <li><i class="lni lni-check-mark-circle"></i> State-of-the-art equipment</li>
            <li><i class="lni lni-check-mark-circle"></i> Convenient pickup and delivery</li>
            <li><i class="lni lni-check-mark-circle"></i> Competitive pricing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

