<section class="section dashboard">
  <div class="row">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->


    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Customer <span>| Total</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{dashboardResponse.customerTotal}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">

            <div class="card-body">
              <h5 class="card-title">Revenue <span>| This Month</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-currency-bitcoin"></i>
                </div>
                <div class="ps-3">
                  <h6>Rp {{dashboardResponse.revenueTotal}}</h6>

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->

        <!-- Customers Card -->
        <!--        <div class="col-xxl-4 col-xl-12">-->

        <!--          <div class="card info-card customers-card">-->

        <!--            <div class="card-body">-->
        <!--              <h5 class="card-title">Customers <span>| This Month</span></h5>-->

        <!--              <div class="d-flex align-items-center">-->
        <!--                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">-->
        <!--                  <i class="bi bi-people"></i>-->
        <!--                </div>-->
        <!--                <div class="ps-3">-->
        <!--                  <h6>1244</h6>-->

        <!--                </div>-->
        <!--              </div>-->

        <!--            </div>-->
        <!--          </div>-->

        <!--        </div>-->
        <!-- End Customers Card -->

        <!--        <div class="card">-->
        <!--          <div class="card-body">-->
        <!--            <h1 class="card-title">Transaction</h1>-->
        <!--            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">-->
        <!--              <div class="datatable-top">-->
        <!--                <div class="datatable-dropdown">-->
        <!--                  <label>-->
        <!--                    <select class="datatable-selector">-->
        <!--                      <option value="5">5</option>-->
        <!--                      <option value="10" selected="">10</option>-->
        <!--                      <option value="15">15</option>-->
        <!--                      <option value="20">20</option>-->
        <!--                      <option value="25">25</option>-->
        <!--                    </select> entries per page-->
        <!--                  </label>-->
        <!--                </div>-->

        <!--                <div class="datatable-search">-->
        <!--                  <button type="button" class="btn btn-outline-primary">Add Transaction</button>-->
        <!--                  &lt;!&ndash;                  <input class="datatable-input" placeholder="Search..." type="search" title="Search within table">&ndash;&gt;-->
        <!--                </div>-->
        <!--              </div>-->
        <!--              <div class="datatable-container">-->
        <!--                <table class="table">-->
        <!--                  <thead>-->
        <!--                  <tr>-->
        <!--                    <th scope="col">Invoice</th>-->
        <!--                    <th scope="col">Customer Name</th>-->
        <!--                    <th scope="col">Paid</th>-->
        <!--                    <th scope="col">Status</th>-->
        <!--                    <th scope="col" colspan="2" class="d-flex justify-content-center">Action</th>-->
        <!--                  </tr>-->
        <!--                  </thead>-->
        <!--                  <tbody>-->
        <!--                  <tr *ngFor="let transaction of transactionResponses let i = index">-->
        <!--                    <th scope="row">{{transaction.invoice}}</th>-->
        <!--                    <th scope="row">{{transaction.customerName}}</th>-->
        <!--                    <th scope="row">{{transaction.isPaid ? "settled" : "unpaid"}}</th>-->
        <!--                    <th scope="row">{{transaction.status}}</th>-->
        <!--                    <th scope="row">-->
        <!--                      <div class="d-flex justify-content-evenly">-->
        <!--                        <button type="button" class="btn btn-sm btn-outline-success">Paid</button>-->
        <!--                        <button type="button" class="btn btn-sm btn-outline-info">Status</button>-->
        <!--                      </div>-->
        <!--                    </th>-->
        <!--                  </tr>-->

        <!--                  </tbody>-->
        <!--                </table>-->
        <!--              </div>-->
        <!--              <div class="datatable-bottom">-->
        <!--                <div class="datatable-info">Showing 1 to 5 of 5 entries</div>-->
        <!--                <nav class="datatable-pagination">-->
        <!--                  <ul class="datatable-pagination-list"></ul>-->
        <!--                </nav>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            &lt;!&ndash; End Table with stripped rows &ndash;&gt;-->

        <!--          </div>-->
        <!--        </div>-->

        <div class="m-3">
          <div class="card w-100">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="pagetitle p-3">
                  <h2>Active Transaction</h2>
                </div>
                <div class="p-3">
                  <div class="d-flex align-content-end">
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#addTransaction" (click)="clearForm()">
                      <i class="bi bi-file-plus"></i>
                      Add Transaction
                    </button>
                  </div>
                </div>
              </div>
              <!--      End Header Table-->

              <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Invoice</th>
                  <th scope="col">CustomerName</th>
                  <th scope="col">Paid</th>
                  <th scope="col">Status</th>
                  <th scope="col" colspan="2" class="d-flex justify-content-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let transaction of transactionResponse let i = index">
                  <th scope="row">{{paging?.page! * paging?.size! + i + 1}}</th>
                  <td>{{transaction.invoice}}</td>
                  <td>{{transaction.customerName}}</td>
                  <td>{{transaction.isPaid ? "Settled" : "Outstanding"}}</td>
                  <td>{{transaction.status}}</td>
                  <td class="d-flex justify-content-evenly">
                    <button type="button" class="btn btn-sm btn-success me-2" [disabled]="transaction.isPaid"
                            (click)="setIsPaid(transaction.id)">
                      Paid
                    </button>
                    <button type="button" class="btn btn-sm btn-warning" (click)="updateStatus(transaction.id)">
                      Status
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between">
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-sm">
                    <li class="page-item">
                      <p role="button" class="page-link disabled me-2">{{transactionResponse!.length}}
                        of {{paging?.count}}</p>
                    </li>
                    <li class="page-item">
                      <p role="button" class="page-link disabled">Size</p>
                    </li>
                    <li class="page-item" *ngFor="let i of [5,10, 100]">
                      <p role="button" class="page-link" [class.active]="paging!.size === i"
                         (click)="sizeHandle(i)">{{i}}</p>
                    </li>
                  </ul>
                </nav>
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-sm">
                    <li class="page-item" [class.disabled]="initialPaging[0]<=1">
                      <p class="page-link" role="button" aria-label="Previous" (click)="movePagingLeft()">
                        <span aria-hidden="true">&laquo;</span>
                      </p>
                    </li>
                    <li class="page-item" *ngFor="let i of initialPaging | slice:0:paging!.totalPages">
                      <p role="button" class="page-link" [class.active]="currentPage === i"
                         (click)="paginationHandle(i)">{{i}}</p>
                    </li>
                    <li class="page-item" [class.disabled]="initialPaging[2]>=paging!.totalPages">
                      <p role="button" class="page-link" href="#" aria-label="Next" (click)="movePagingRight()">
                        <span aria-hidden="true">&raquo;</span>
                      </p>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">

      <!-- Recent Activity -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Recent Activity <span>| Today</span></h5>

          <div class="activity">

            <div class="activity-item d-flex" *ngFor="let activity of dashboardResponse.activities">
              <div class="activite-label">{{activity.time}}</div> <!-- Time -->
              <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
              <div class="activity-content">
                {{ activity.description }}
              </div>
            </div><!-- End activity item-->


          </div>

        </div>
      </div><!-- End Recent Activity -->


    </div><!-- End Right side columns -->

  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="addTransaction" data-bs-keyboard="true" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Transaction</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="createTransaction(form.value)">
          <div class="d-flex">
            <div class="dropdown">
              <label for="customerId" class="form-label">Customer Phone</label>
              <input type="text" class="form-control" placeholder="Search" (input)="customerSearch($event)"
                     data-bs-toggle="dropdown" aria-expanded="false" id="customerId"
                     formControlName="customerPhone">
              <div class="dropdown-menu" aria-labelledby="searchableDropdown">
                <a class="dropdown-item" *ngFor="let item of customers"
                   (click)="selectCustomer(item)">{{ item.name }}</a>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <div>
              <input type="radio" class="btn-check" name="isPaid" id="settled" autocomplete="off" checked value="false"
                     formControlName="isPaid">
              <label class="btn" for="settled">OutStanding</label>

              <input type="radio" class="btn-check" name="isPaid" id="outstanding" autocomplete="off"
                     formControlName="isPaid" value="true">
              <label class="btn" for="outstanding">Settled</label>

              <!--              <label class="form-check-label" for="flexSwitchCheckChecked">Paid</label>-->
              <!--              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"-->
              <!--              >-->
            </div>
            <div class="d-flex align-items-center">
              <button type="button" class="btn btn-primary me-3" (click)="addNewProduct()">+</button>
            </div>
          </div>
          <ng-container formArrayName="transactionDetail"
                        *ngFor="let detail of transactionDetail.controls; let i = index">
            <hr>
            <div class="" [formGroupName]="i">
              <div class="d-flex">
                <!--                <div class="mb-3 me-2 w-50">-->
                <!--                  <label for="categoryId" class="form-label">Category</label>-->
                <!--                  <input type="text" class="form-control" id="categoryId" formControlName="categoryId">-->
                <!--                </div>-->
                <div class="dropdown">
                  <label for="categoryId" class="form-label">Category</label>
                  <input type="text" class="form-control" placeholder="Search" (input)="categorySearch($event)"
                         data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="categoryId"
                         [value]="categorySelected">
                  <!--                         formControlName="categoryId">-->
                  <div class="dropdown-menu" aria-labelledby="searchableDropdown">
                    <a class="dropdown-item" *ngFor="let item of categories"
                       (click)="selectCategory(item, i)">{{ item.name }}</a>
                  </div>
                </div>
                <div class="ms-3 mb-3 w-25">
                  <label for="quantityCategory" class="form-label">Quantity</label>
                  <input type="number" class="form-control" id="quantityCategory"
                         (input)="setCategoryQuantity($event, i)">
                </div>
                <div class="d-flex align-items-center">
                  <button type="button" class="btn btn-danger ms-3" id="delete" (click)="removeProduct(i)">&times;
                  </button>
                </div>
              </div>
              <div class="d-flex">
                <!--                <div class="mb-3 me-2 w-50">-->
                <!--                  <label for="productId" class="form-label">Product</label>-->
                <!--                  <input type="text" class="form-control" id="productId" formControlName="productId">-->
                <!--                </div>-->
                <div class="dropdown">
                  <label for="productId" class="form-label">Product</label>
                  <input type="text" class="form-control" placeholder="Search" (input)="productSearch($event)"
                         data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="productId"
                         [value]="productSelected">
                  <!--                         formControlName="productId">-->
                  <div class="dropdown-menu" aria-labelledby="searchableDropdown">
                    <a class="dropdown-item" *ngFor="let item of products"
                       (click)="selectProduct(item, i)">{{ item.name }}</a>
                  </div>
                </div>
                <div class="ms-3 mb-3 w-25">
                  <label for="productQuantity" class="form-label">Quantity</label>
                  <input type="number" class="form-control" id="productQuantity"
                         (input)="setProductQuantity($event, i)">
                </div>
              </div>
            </div>
          </ng-container>

          <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>

