<section class="section dashboard">
  <div class="row">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->


    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Customer <span>| Total</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                  <h6>{{response.customerTotal}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">

            <div class="card-body">
              <h5 class="card-title">Revenue <span>| This Month</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                  <h6>Rp {{response.revenueTotal}}</h6>

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->

        <!-- Customers Card -->
        <!--        <div class="col-xxl-4 col-xl-12">-->

        <!--          <div class="card info-card customers-card">-->

        <!--            <div class="card-body">-->
        <!--              <h5 class="card-title">Customers <span>| This Month</span></h5>-->

        <!--              <div class="d-flex align-items-center">-->
        <!--                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">-->
        <!--                  <i class="bi bi-people"></i>-->
        <!--                </div>-->
        <!--                <div class="ps-3">-->
        <!--                  <h6>1244</h6>-->

        <!--                </div>-->
        <!--              </div>-->

        <!--            </div>-->
        <!--          </div>-->

        <!--        </div>-->
        <!-- End Customers Card -->

        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Transaction</h1>
            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
              <div class="datatable-top">
                <div class="datatable-dropdown">
                  <label>
                    <select class="datatable-selector">
                      <option value="5">5</option>
                      <option value="10" selected="">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                    </select> entries per page
                  </label>
                </div>

                <div class="datatable-search">
                  <button type="button" class="btn btn-outline-primary">Add Transaction</button>
                  <!--                  <input class="datatable-input" placeholder="Search..." type="search" title="Search within table">-->
                </div>
              </div>
              <div class="datatable-container">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Invoice</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Status</th>
                    <th scope="col" colspan="2" class="d-flex justify-content-center">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let transaction of response.transactionResponses let i = index">
                    <th scope="row">{{transaction.invoice}}</th>
                    <th scope="row">{{transaction.customerName}}</th>
                    <th scope="row">{{transaction.isPaid ? "settled" : "unpaid"}}</th>
                    <th scope="row">{{transaction.status}}</th>
                    <th scope="row">
                      <div class="d-flex justify-content-evenly">
                        <button type="button" class="btn btn-sm btn-outline-success">Paid</button>
                        <button type="button" class="btn btn-sm btn-outline-info">Status</button>
                      </div>
                    </th>
                  </tr>

                  </tbody>
                </table>
              </div>
              <div class="datatable-bottom">
                <div class="datatable-info">Showing 1 to 5 of 5 entries</div>
                <nav class="datatable-pagination">
                  <ul class="datatable-pagination-list"></ul>
                </nav>
              </div>
            </div>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">

      <!-- Recent Activity -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Recent Activity <span>| Today</span></h5>

          <div class="activity">

            <div class="activity-item d-flex" *ngFor="let activity of response.activities">
              <div class="activite-label"></div> <!-- Time -->
              <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
              <div class="activity-content">
                {{ activity.description }}
              </div>
            </div><!-- End activity item-->


          </div>

        </div>
      </div><!-- End Recent Activity -->


    </div><!-- End Right side columns -->

  </div>
</section>
